<template>
    <div>
      <h2>Current Weather for {{ city }}</h2>
      <div v-if="loading">Loading...</div>
      <div v-else>
        <p>Temperature: {{ current.temp_c }}°C</p>
        <img v-if="current.condition && current.condition.icon" :src="getWeatherIconUrl(current.condition.icon)"/>
        <div v-else>No icon available</div>
      </div>
    </div>
  </template>
  
  <script lang="ts">
  import { defineComponent, watch } from 'vue';
  import axios from 'axios';
  
  interface WeatherData {
    temp_c: number;
    condition: {
      icon: string;
    };
  }
  
  export default defineComponent({
    props: {
      city: {
        type: String,
        required: true,
      },
    },
    data() {
      return {
        current: {} as WeatherData,
        loading: false,
      };
    },
    methods: {
      getWeatherIconUrl(icon: string) {
        return `http:${icon}`;
      },
      fetchCurrentWeather() {
        if (!this.city) {
          this.current = {} as WeatherData;
          return;
        }
  
        this.loading = true;
        axios
          .get(`https://api.weatherapi.com/v1/current.json?key=ANGE-API-KOD&q=${this.city}&aqi=no`)
          .then(response => {
            const { temp_c, condition } = response.data.current;
            this.current = { temp_c, condition };
            this.loading = false;
          })
          .catch(error => {
            console.error(error);
            this.loading = false;
          });
      },
    },
    watch: {
      city(newValue) {
        this.fetchCurrentWeather();
      },
    },
    mounted() {
      this.fetchCurrentWeather();
    },
  });
  </script>
  