<template>
    <div>
      <div class="search-history">
        <button v-for="historyItem in searchHistory" :key="historyItem" @click="selectSearch(historyItem)">
          {{ historyItem }}
        </button>
      </div>
      <input type="text" v-model="city" placeholder="Enter city" @input="handleInput" @blur="handleBlur" />
    </div>
  </template>
  
  <script lang="ts">
  import { defineComponent, ref, PropType, watch } from 'vue';
  
  export default defineComponent({
    props: {
      modelValue: {
        type: String as PropType<string>,
        required: true,
      },
    },
    emits: ['update:modelValue', 'search'],
    setup(props, { emit }) {
      const city = ref(props.modelValue);
      const searchHistory = ref<string[]>([]);
  
      let timeout: ReturnType<typeof setTimeout> | null = null;
  
      const searchWeather = async () => {
        if (city.value.trim() !== '') {
          emit('update:modelValue', city.value);
          emit('search', city.value);
          updateSearchHistory(city.value);
        }
      };
  
      const handleInput = () => {
        if (timeout) {
          clearTimeout(timeout);
        }
        timeout = setTimeout(searchWeather, 2000);
      };
  
      const handleBlur = () => {
        if (city.value.trim() !== '') {
          searchWeather();
        }
      };
  
      const updateSearchHistory = (value: string) => {
        if (!searchHistory.value.includes(value)) {
          searchHistory.value.unshift(value);
          if (searchHistory.value.length > 3) {
            searchHistory.value.pop();
          }
        }
      };
  
      const selectSearch = (value: string) => {
        city.value = value;
        searchWeather();
      };
  
      watch(city, () => {
        if (timeout) {
          clearTimeout(timeout);
        }
        timeout = setTimeout(searchWeather, 2000);
      });
  
      watch(
        () => props.modelValue,
        (newValue) => {
          city.value = newValue;
          searchWeather();
        }
      );
  
      return {
        city,
        searchHistory,
        handleInput,
        handleBlur,
        selectSearch,
      };
    },
  });
  </script>
  
  <style scoped>
  .search-history {
    margin-bottom: 10px;
  }
  
  .search-history button {
    margin-right: 5px;
  }
  </style>
  