<template>
    <div>
      <h2>Weather Forecast for {{ city }}</h2>
      <div v-if="loading">Loading...</div>
      <div v-else>
        <div v-for="day in forecastday" :key="day.date">
          <h3>{{ day.date }}</h3>
          <p>Max Temp: {{ day.day.maxtemp_c }}°C</p>
          <p>Min Temp: {{ day.day.mintemp_c }}°C</p>
          <img :src="getWeatherIconUrl(day.day.condition.icon)"/>
        </div>
      </div>
    </div>
  </template>
  
  <script lang="ts">
  import { defineComponent, watch } from 'vue';
  import axios from 'axios';
  
  interface ForecastDay {
    date: string;
    day: {
      maxtemp_c: number;
      mintemp_c: number;
      condition: {
        icon: string;
      };
    };
  }
  
  export default defineComponent({
    props: {
      city: {
        type: String,
        required: true,
      },
    },
    data() {
      return {
        forecastday: [] as ForecastDay[],
        loading: false,
      };
    },
    methods: {
      getWeatherIconUrl(icon: string) {
        return `http:${icon}`;
      },
      fetchWeatherForecast() {
        if (!this.city) {
          this.forecastday = [];
          return;
        }
  
        this.loading = true;
        axios
          .get(`https://api.weatherapi.com/v1/forecast.json?key=ANGE-API-KOD&q=${this.city}&days=5&aqi=no&alerts=no`)
          .then(response => {
            this.forecastday = response.data.forecast.forecastday;
            this.loading = false;
          })
          .catch(error => {
            console.error(error);
            this.loading = false;
          });
      },
    },
    watch: {
      city(newValue) {
        this.fetchWeatherForecast();
      },
    },
    mounted() {
      this.fetchWeatherForecast();
    },
  });
  </script>
  