<template>
  <div class="app">
    <div class="logo"><h1>ABBES WEATHER WEB</h1></div>
    <InputField v-model="city" @search="handleSearch" />
    <div class="box" v-if="city">
      <CurrentWeather :city="city" />
    </div>
    <div class="box" v-if="city">
      <WeatherForecast :city="city" />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import InputField from './components/InputField.vue';
import WeatherForecast from './components/WeatherForecast.vue';
import CurrentWeather from './components/CurrentWeather.vue';

export default defineComponent({
  components: {
    InputField,
    WeatherForecast,
    CurrentWeather,
  },
  setup() {
    const city = ref('');

    const handleSearch = (searchCity: string) => {
      city.value = searchCity;
    };

    return {
      city,
      handleSearch,
    };
  },
});
</script>

<style>
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.box {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.box h2 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #ffffff;
  background-color: #000000;
  padding: 10px;
}

.logo{
  width: 100%;
  max-width: 600px;
  padding: 5px;
  margin-bottom: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.logo h1 {
  margin-top: 0;
  margin-bottom: 0px;
  color: #ffffff;
  background-color: #5a5757;
  padding: 0px;
  text-align: center;
}
</style>
